<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MPS Demo - Ad Block Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/foundation.min.css"/>
  <link rel="stylesheet" href="/css/styles.css"/>

  <script type="text/javascript">
    var mpscall = {
      "content_id": "test-refresh",
      "path": "TEST/refresh",
      "site": "sandbox"
    }
    var mpsopts={
      'updatecorrelator':true,
      "host":"local.devmps.com"
    };
    var mps=mps||{}; document.write('<scr'+'ipt id="mps-ext-load" src="http://local.devmps.com/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
    
    mps.gptloadCallback = function() {
      mps.insertAd(mps._select('.right-boxad'),'boxad');
    }
  </script>

  <!-- Demo only. -->
  <script>
    var _satellite = [];
  </script>
  <!-- /Demo only. -->

</head>
<body>
<script>
  
  mps._ready(function(){
    var _adLoadCallbackExtend = mps._adloadCallback;
    mps._adloadCallback = function() {
      var args = arguments;
      var result = _adLoadCallbackExtend.apply(this, arguments);
      var _this = args[0];
      if(_this._mps._slot != '_oop') {
        document.getElementById('results').innerHTML += '<li>MPS <strong>' + _this._mps._slot + '</strong> ad code was loaded in <strong>' + _this._mps._elapsed + ' milliseconds</strong>.</li>';
      }
      return result;
    };
  });
</script>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">MPS Demo</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="/">Demo</a></li>
      <li><a href="/timing">Timing</a></li>
      <li class="active"><a href="/ad-block">Ad Block</a></li>
      <li><a href="/ad-block-ajax">Ad Block AJAX</a></li>
      <li><a href="/ad-scaling">Ad Scaling</a></li>
      <li><a href="/error-tracking">Error Tracking</a></li>
      <li><a href="/detect-display">Detect Display</a></li>
    </ul>
  </section>
</nav>

<div class="large-12 content m0auto center">
  <div class="top-banner mt20 top-ad"></div>
</div>

<div class="large-12 content m0auto">

  <div class="large-4 mt40 right">
    <div class="right-boxad panel p20 right"></div>
  </div>

  <div class="large-8">

    <div class="panel mt20"><ul id="results"></ul></div>

    <h1 class="mt20">MPS Demo</h1>

    <div id="ad-blocker">No data.</div>

  </div>

</div>

<footer>
  <div class="large-12 content m0auto">
    <hr />
    <p class="secondary">&copy; 2015, MPS.</p>
  </div>
  <script>typeof(mps.writeFooter)=='function' && mps.writeFooter();</script>
</footer>

<script>
  // Adblock detection with external file.
  var adBlockEnabled = true;
  var adBlockTimer = 0;

  mps.demoDisplay = function(type) {
    var msg = '<div class="success alert-box">Ad blocker disabled, you should see ads.</div>';
    switch(type) {
      case 'filename':
        msg = '<div class="alert alert-box">Ad Block or file name ad blocker enabled, no ads should appear.</div>';
        debugmode.log && console.log('[mps._adBlock: Ad Block or file name ad blocker is enabled.');
        break;
      case 'notloaded':
        msg = '<div class="alert alert-box">GPT is not loaded yet, rechecking in 1s.</div>';
        debugmode.log && console.log('[mps._adBlock: GPT is not loaded yet, rechecking in 1s.');
        break;
      case 'blocked':
        msg = '<div class="alert alert-box">Ghostery or script blocking is enabled, no ads should appear.</div>';
        debugmode.log && console.log('[mps._adBlock: Ghostery, Disconnect, or script blocking ad blocker is enabled.');
        break;
    }
    document.getElementById('ad-blocker').innerHTML = msg;
  };

  // MPS Adblock.
  mps._adBlock = function() {

    console.log('gpt loaded: ' + mps._gptloaded);

    adBlockTimer = adBlockTimer + 1000;

    if(adBlockEnabled === true || mps._gptError === true) {
      // Omniture ad blocking variables.
      //_satellite.setVar('ad blocker enabled', 'ads blocked');
      //_satellite.track('ad blocker enabled');
    }

    console.log('gpt error: ' + mps._gptError);
    // GPT not loaded async, recheck in 1s.
    if(mps._gptError === undefined && adBlockTimer < 11000) {
      console.log('mps._gptError is undefined, check again.  Try ' + adBlockTimer / 1000 + ' of 10.');
      mps.demoDisplay('notloaded');
      setTimeout(mps._adBlock, 1000);
      return false;
    }

    if(adBlockEnabled === true) {
      mps.demoDisplay('filename');
      debugmode.log && console.log('[mps._adBlock: Ad Block or file name ad blocker enabled.');
      return false;
    }
    if(mps._gptError === true) {
      mps.demoDisplay('blocked');
      debugmode.log && console.log('[mps._adBlock: Ghostery, Disconnect, or script blocking ad blocker is enabled.');
      return false;
    }

    // DEMO ONLY.
    mps.demoDisplay();

  };

  // Ad blockers will block this file.
  var ads = document.createElement('script');
  ads.src = 'http://local.devmps.com/js/advertising/ads.js';
  ads.type = 'text/javascript';
  ads.async = false;
  ads.onload = function() { setTimeout(mps._adBlock, 500);},
  ads.onerror = function() { setTimeout(mps._adBlock, 500);},
  document.getElementsByTagName('head')[0].appendChild(ads);
  
  // mps._adBlock() is called from an external file to prevent async issues.
  /*var adBlockInit = document.createElement('script');
  adBlockInit.src = 'http://local.devmps.com/js/advertising/mps-abInit.js';
  adBlockInit.type = 'text/javascript';
  adBlockInit.async = false;
  document.getElementsByTagName('head')[0].appendChild(adBlockInit);*/

</script>

</body>
</html>