<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MPS Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/foundation.min.css"/>
  <link rel="stylesheet" href="/css/styles.css"/>

  <script type="text/javascript">

    var site = localStorage.getItem('mps-site');
    var mpsopts = {'host':'stage-mps.nbcuni.com'};

    // No site set, default to sandbox.
    if(!site) {
      localStorage.setItem('mps-site','fandango-web');
      var mpscall = {
        "cat": "homepage",
        "path": "/",
        "site": "fandango-web",
        "content_id":128
      }
    } else {
      var mpscall = {};
      mpscall.site = site;
      switch(site) {
        case 'bravo-web':
          mpscall.type = 'layout';
          mpscall.path = '\/';
          mpscall.content_id = 'node262816';
          mpscall.is_content = 1;
          mpscall.pubdate = '1411136820';
          mpscall.cat = '262816';
          break;
        case 'fandango-web':
          mpscall.cat = 'homepage',
          mpscall.path = '/',
          mpscall.content_id = 128
          break;
        case 'nbcnews-web':
          mpsopts.host = 'stage.mps.nbcnews.com';
          mpscall.path = '/cover';
          mpscall.cat = 'cover';
          mpscall.type = 'cover';
          break;
        case 'nhl-web':
          mpscall.cat = 'homepage';
          mpscall.path = '/home';
          break;
      }
    }

    var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');

    mps.gptloadCallback = function() {
      mps.insertAd(mps._select('.top-banner'),'topbanner');
      //mps.insertAd(mps._select('.right-boxad'),'boxfront1');
    }
  </script>

</head>
<body>
<script>
  mps._ready(function(){
    var _adLoadCallbackExtend = mps._adloadCallback;
    mps._adloadCallback = function() {
      var args = arguments;
      var result = _adLoadCallbackExtend.apply(this, arguments);
      var _this = args[0];
      if(_this._mps._slot != '_oop') {
        document.getElementById('results').innerHTML += '<li>MPS <strong>' + _this._mps._slot + '</strong> ad code was loaded in <strong>' + _this._mps._elapsed + ' milliseconds</strong>.</li>';
      }

      return result;
    };
  });
</script>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">MPS Demo</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="/">Demo</a></li>
      <li><a href="/timing">Timing</a></li>
      <li><a href="/ad-block">Ad Block</a></li>
      <li><a href="/ad-block-ajax">Ad Block AJAX</a></li>
      <li><a href="/ad-scaling">Ad Scaling</a></li>
      <li><a href="/error-tracking">Error Tracking</a></li>
      <li><a href="/detect-display">Detect Display</a></li>
    </ul>
  </section>
</nav>

<div class="large-12 content m0auto center">
  <div class="top-banner ad-topbanner mt20 top-ad"></div>
</div>

<div class="large-12 content m0auto">

  <div class="large-4 mt40 right">
    <div class="right-boxad panel p20 right"></div>
  </div>

  <div class="large-8">

    <div class="panel mt20"><ul id="results"></ul></div>

    <h1 class="mt20">MPS Demo</h1>

    <select id="site-select"></select>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus metus id accumsan vulputate. Nulla facilisis posuere libero, et laoreet nibh viverra et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras a elit ac leo accumsan tristique. Vivamus pulvinar risus mauris. Ut eu elit porttitor, egestas massa a, consectetur mauris. Cras accumsan id justo a dapibus. Integer finibus dapibus leo eu accumsan. Nullam risus erat, molestie a mattis in, commodo vitae quam. Ut tempor diam est, sit amet luctus massa rhoncus nec. Nulla tempor vel magna quis ullamcorper. Maecenas urna purus, efficitur vel enim sed, vestibulum consequat libero. In non vehicula felis.<p>

    <p>Nam aliquam nec nulla ac luctus. Etiam hendrerit erat non mi congue, lacinia tincidunt massa commodo. Vestibulum nec tempus orci, eget mollis est. Vivamus vel nulla lobortis ipsum condimentum hendrerit vitae at ex. Donec mollis aliquet sollicitudin. Suspendisse quis sem nec ipsum lacinia euismod. Maecenas porta facilisis libero sed facilisis. Praesent fringilla cursus aliquet.</p>

    <p>Mauris risus nulla, porta eget leo in, vestibulum molestie eros. Phasellus eu odio turpis. Vestibulum erat sem, lacinia at odio id, tristique aliquam elit. Nulla a nisl vestibulum, faucibus magna vel, faucibus nunc. Maecenas velit felis, fringilla at ullamcorper nec, porttitor a dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam sed suscipit lectus. Integer et bibendum sapien, sit amet scelerisque diam. Pellentesque rhoncus leo a vestibulum semper. Sed fermentum congue nisl, at venenatis nisi dapibus ut. Aliquam vel mattis nisl.</p>

    <p>Aliquam nec sapien fringilla, ultricies quam et, pulvinar leo. Duis vehicula non libero ut ornare. Vivamus quis sapien quis purus mollis bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque auctor pulvinar tortor. Morbi sollicitudin eros vitae placerat ultricies. Etiam aliquet ornare magna. Nullam id nibh a ligula lacinia commodo. Cras maximus tincidunt est vel gravida. Curabitur lacinia ultrices ligula at facilisis. Mauris elementum consequat justo, faucibus faucibus enim efficitur id.</p>

  </div>

</div>

<footer>
  <div class="large-12 content m0auto">
    <hr />
    <p class="secondary">&copy; 2015, MPS.</p>
  </div>
  <script>typeof(mps.writeFooter)=='function' && mps.writeFooter();</script>
</footer>

<script>
  // Init site select drop down.
  var siteSelect = document.getElementById('site-select');

  // Build site select.
  siteSelect.innerHTML += '<option value="bravo-apps">Bravo Apps</option>';
  siteSelect.innerHTML += '<option value="bravo-web">Bravo Web</option>';
  siteSelect.innerHTML += '<option value="cnbc-prime">CNBC Prime</option>';
  siteSelect.innerHTML += '<option value="eonline-apps">E! Online Apps</option>';
  siteSelect.innerHTML += '<option value="eonline-web">E! Online Web</option>';
  siteSelect.innerHTML += '<option value="fandango-apps">Fandango Apps</option>';
  siteSelect.innerHTML += '<option value="fandango-web">Fandango Web</option>';
  siteSelect.innerHTML += '<option value="movies-web">Movies Web</option>';
  siteSelect.innerHTML += '<option value="nbc-apps">NBC Apps</option>';
  siteSelect.innerHTML += '<option value="nbc-snl">NBC SNL</option>';
  siteSelect.innerHTML += '<option value="nbc-tonightshow">NBC Tonight Show</option>';
  siteSelect.innerHTML += '<option value="nbcnews-web">NBC News Web</option>';
  siteSelect.innerHTML += '<option value="nbcsports-web">NBC Sports Web</option>';
  siteSelect.innerHTML += '<option value="nhl-web">NHL Web</option>';
  siteSelect.innerHTML += '<option value="partners">Partners</option>';
  siteSelect.innerHTML += '<option value="recode-web">Recode Web</option>';
  siteSelect.innerHTML += '<option value="sandbox">Sandbox</option>';
  siteSelect.innerHTML += '<option value="telemundo-web">Telemundo Web</option>';
  siteSelect.innerHTML += '<option value="usa-web">USA Web</option>';

  // Set selected site.
  var siteOption = siteSelect.getElementsByTagName('option');
  for(var i=0; i<siteOption.length; i++) {
    if(siteOption[i].value === site) {
      siteOption[i].selected = true;
    }
  }

  // Change site function.
  siteSelect.addEventListener('change', function() {
    localStorage.setItem('mps-site', this.value);
    // TODO - re init MPS without page refresh.
    window.location.reload();
  });

</script>

</body>
</html>