<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MPS Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/foundation.min.css"/>
  <link rel="stylesheet" href="/css/styles.css"/>

  <script type="text/javascript">
    var site = localStorage.getItem('mps-site');
    var mpsopts = null;
    var nbcUrlnews = {'host':'stage.mps.nbcnews.com'};
    var nbcUrl = {'host':'stage-mps.nbcuni.com'};
    var mpscall = {};

    // No site set, default to fandango.
    if(!site) {
      site = 'fandango-web';
      localStorage.setItem('mps-site','fandango-web');
      mpscall.site = site;
      mpsopts = nbcUrl;
      mpscall.cat = 'homepage',
      mpscall.path = '/',
      mpscall.content_id = 128
      var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
      mps.gptloadCallback = function() {
        mps.insertAd(mps._select('.top-banner'),'topbanner');
        mps.insertAd(mps._select('.right-boxad'),'boxad');
      }
    } else {
      mpscall.site = site;
      switch(site) {
        case 'bravo-web':
          mpsopts = nbcUrl;
          mpscall.path = "\/";
          mpscall.content_id = "node262816";
          mpscall.is_content = 1;
          mpscall.type = "layout";
          mpscall.pubdate = "1411136820";
          mpscall.cat = "262816";
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topbanner');
            mps.insertAd(mps._select('.right-boxad'),'topbox');
          }
        break;
        case 'cnbc-prime':
          mpsopts = nbcUrl;
          mpscall.type = 'landing';
          mpscall.title = 'Network Home';
          mpscall.cat = 'CNBC Prime';
          mpscall.content_id = '115';
          mpscall.is_content = 0;
          mpscall.site = 'cnbc-prime';
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topbanner');
            mps.insertAd(mps._select('.right-boxad'),'topbox');
          }
        break;
        case 'fandango-web':
          mpsopts = nbcUrl;
          mpscall.cat = 'homepage',
          mpscall.path = '/',
          mpscall.content_id = 128
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topbanner');
            mps.insertAd(mps._select('.right-boxad'),'boxad');
          }
        break;
        case 'fandango-mobile':
          mpsopts = nbcUrl;
          mpscall.cat = "home";
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'banner');
            mps.insertAd(mps._select('.right-boxad'),'bannermid');
          }
          break;
        case 'hip2save':
          mpsopts = nbcUrlnews;
          mpscall.path = null;
          mpscall.id = "";
          mpscall.title = "Hip2Save Homepage";
          mpscall.cats = "homepage";
          mpscall.type = "cover";
          mpscall.tags = "";
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'sideboxone');
            mps.insertAd(mps._select('.right-boxad'),'sideboxtwo');
          }
          break;
        case 'nbcnews-web':
          mpsopts = nbcUrlnews;
          mpscall.cat = 'cover';
          mpscall.path = '/cover';
          mpscall.type = 'cover';
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topbanner');
            mps.insertAd(mps._select('.right-boxad'),'boxfront1');
          }
          break;
        case 'nbc-tonightshow':
          console.log('called');
          mpsopts = nbcUrl;
          mpscall.type = "homepage";
          mpscall.site = "nbc-tonightshow";
          mpscall.cat = "the-tonight-show";
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topleader');
            mps.insertAd(mps._select('.right-boxad'),'topbox');
          }
          break;
        case 'recode-web':
          mpsopts = nbcUrl;
          mpscall.topbanner = "topbanner";
          mpscall.boxad = "boxad";
          mpscall.type = "frontpage";
          mpscall.is_content = "";
          mpscall.section = "homepage";
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topbanner');
            mps.insertAd(mps._select('.right-boxad'),'boxad');
          }
          break;
        case 'telemundo-web':
          mpsopts = nbcUrl;
          mpscall.path = "\/";
          mpscall.title = "home";
          mpscall.is_content = 0;
          mpscall.type = "other";
          mpscall.cat = "home";
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topbanner');
            mps.insertAd(mps._select('.right-boxad'),'mosaicadone');
          }
          break;
        case 'todayshow':
          mpsopts = nbcUrlnews;
          mpscall.cat = 'homepage';
          mpscall.path = 'homepage';
          mpscall.is_content = '0';
          mpscall.type = "cover";
          var mps = mps || {};
    document.write('<scr'+'ipt id="mps-ext-load" src="//'+mpsopts.host+'/fetch/ext/load-'+mpscall.site+'.js"></scr'+'ipt>');
          mps.gptloadCallback = function() {
            mps.insertAd(mps._select('.top-banner'),'topbanner');
            mps.insertAd(mps._select('.right-boxad'),'boxflex');
          }
          break;
      }
    }
  </script>

</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">MPS Demo</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="/">Demo</a></li>
      <li><a href="/timing">Timing</a></li>
      <li><a href="/ad-block">Ad Block</a></li>
      <li><a href="/ad-block-ajax">Ad Block AJAX</a></li>
      <li><a href="/ad-scaling">Ad Scaling</a></li>
      <li><a href="/error-tracking">Error Tracking</a></li>
      <li><a href="/detect-display">Detect Display</a></li>
    </ul>
  </section>
</nav>

<div class="large-12 content m0auto center">
  <div class="top-banner ad-topbanner mt20 top-ad"></div>
</div>

<div class="large-12 content m0auto">

  <div class="large-4 mt40 right">
    <div class="right-boxad panel p20 right"></div>
  </div>

  <div class="large-8">

    <div class="panel mt20"><ul id="results"></ul></div>

    <h1 class="mt20">MPS Demo</h1>

    <select id="site-select"></select>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus metus id accumsan vulputate. Nulla facilisis posuere libero, et laoreet nibh viverra et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras a elit ac leo accumsan tristique. Vivamus pulvinar risus mauris. Ut eu elit porttitor, egestas massa a, consectetur mauris. Cras accumsan id justo a dapibus. Integer finibus dapibus leo eu accumsan. Nullam risus erat, molestie a mattis in, commodo vitae quam. Ut tempor diam est, sit amet luctus massa rhoncus nec. Nulla tempor vel magna quis ullamcorper. Maecenas urna purus, efficitur vel enim sed, vestibulum consequat libero. In non vehicula felis.<p>

    <p>Nam aliquam nec nulla ac luctus. Etiam hendrerit erat non mi congue, lacinia tincidunt massa commodo. Vestibulum nec tempus orci, eget mollis est. Vivamus vel nulla lobortis ipsum condimentum hendrerit vitae at ex. Donec mollis aliquet sollicitudin. Suspendisse quis sem nec ipsum lacinia euismod. Maecenas porta facilisis libero sed facilisis. Praesent fringilla cursus aliquet.</p>

    <p>Mauris risus nulla, porta eget leo in, vestibulum molestie eros. Phasellus eu odio turpis. Vestibulum erat sem, lacinia at odio id, tristique aliquam elit. Nulla a nisl vestibulum, faucibus magna vel, faucibus nunc. Maecenas velit felis, fringilla at ullamcorper nec, porttitor a dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam sed suscipit lectus. Integer et bibendum sapien, sit amet scelerisque diam. Pellentesque rhoncus leo a vestibulum semper. Sed fermentum congue nisl, at venenatis nisi dapibus ut. Aliquam vel mattis nisl.</p>

    <p>Aliquam nec sapien fringilla, ultricies quam et, pulvinar leo. Duis vehicula non libero ut ornare. Vivamus quis sapien quis purus mollis bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque auctor pulvinar tortor. Morbi sollicitudin eros vitae placerat ultricies. Etiam aliquet ornare magna. Nullam id nibh a ligula lacinia commodo. Cras maximus tincidunt est vel gravida. Curabitur lacinia ultrices ligula at facilisis. Mauris elementum consequat justo, faucibus faucibus enim efficitur id.</p>

  </div>

</div>

<footer>
  <div class="large-12 content m0auto">
    <hr />
    <p class="secondary">&copy; 2015, MPS.</p>
  </div>
  <script>typeof(mps.writeFooter)=='function' && mps.writeFooter();</script>
</footer>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    // Init site select drop down.
    var siteSelect = document.getElementById('site-select');

    // Build site select.
    siteSelect.innerHTML += '<option value="bravo-web">Bravo</option>';
    siteSelect.innerHTML += '<option value="cnbc-prime">CNBC Prime</option>';
    siteSelect.innerHTML += '<option value="fandango-web">Fandango</option>';
    siteSelect.innerHTML += '<option value="fandango-mobile">Fandango Mobile</option>';
    siteSelect.innerHTML += '<option value="hip2save">Hip2Save</option>';
    siteSelect.innerHTML += '<option value="nbcnews-web">NBC News</option>';
    siteSelect.innerHTML += '<option value="nbc-tonightshow">NBC Tonightshow</option>';
    siteSelect.innerHTML += '<option value="recode-web">Recode</option>';
    siteSelect.innerHTML += '<option value="telemundo-web">Telemundo</option>';
    siteSelect.innerHTML += '<option value="todayshow">Todayshow</option>';

    // Set selected site.
    var siteOption = siteSelect.getElementsByTagName('option');
    for(var i=0; i<siteOption.length; i++) {
      if(siteOption[i].value === site) {
        siteOption[i].selected = true;
      }
    }

    // Change site function.
    siteSelect.addEventListener('change', function() {
      localStorage.setItem('mps-site', this.value);
      // TODO - re init MPS without page refresh.
      window.location.reload();
    });
  });
</script>

<script>
function formatAd(name) {
  var name = name.split('_');
  name = name[1];
  return name;
}
function printResults() {
  document.getElementById('results').innerHTML = '';
  var adLoads = mps._ext._reqs[1];
  var adsLoaded = 0;
  for(i in adLoads) {
    if(i !== 'adload_oop' && i !== 'loadmps' && i !== 'loadgpt') {
      document.getElementById('results').innerHTML += '<li>MPS <strong>' + formatAd(i) + '</strong> ad code was loaded in <strong>' + adLoads[i] + ' milliseconds</strong>.</li>';
      adsLoaded++;
    }
  }
  if(adsLoaded <= 1) {
    setTimeout(printResults, 500);
  }
}
function checkReq() {
  if(mps._ext && mps._ext._reqs && mps._ext._reqs[1]) {
    printResults();
  } else {
    setTimeout(checkReq, 500);
  }
}
checkReq();
</script>

</body>
</html>